build/*
.vscode/*
.claude/*
.mcp.json
Testing/*
*.bak
*.tmp
cube.log
.metadata/
*.launch
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
f1rc/CMakeLists.txt
f1rc/Core/Src/main.c
f1rc/Core/Inc/main.h
build/*
f1rc/Core/Inc/stm32f4xx_it.h
f1rc/Core/Src/stm32f4xx_hal_msp.c
f1rc/Core/Src/stm32f4xx_it.c
f1rc/Core/Src/syscalls.c
f1rc/Core/Src/sysmem.c
f1rc/Core/Src/system_stm32f4xx.c
f1rc/Core/Startup/startup_stm32f411ceux.s
f1rc/CMakePresets.json
f1rc/startup_stm32f411xe.s
f1rc/STM32F411CEUX_FLASH.ld
f1rc/STM32F411CEUX_RAM.ld
f1rc/STM32F411XX_FLASH.ld
build-arm/*
f1rc/Core/Src/freertos.c
f1rc/Core/Inc/FreeRTOSConfig.h
*/__pycache__/*
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
